## Wyświetl listę imion i nazwisk menedżerów mieszkających w tym samym kraju i pracujących w tym sam sklep.

In [4]:
KAZDY sklep z definicji i konstrukccji bazy danych dopuszcza jedynie jednego menadzera na sklep.

SyntaxError: invalid syntax (<ipython-input-4-1860117bbce9>, line 1)

## Znajdź listę wszystkich filmów o tej samej długości.

SELECT
   length,
   title
FROM
   film
WHERE 
	length IN
	(SELECT length FROM film GROUP BY length HAVING COUNT(*)>1)
ORDER BY length DESC

## 4. Oblicz średni koszt wypozycenia wszystkich filmów.

SELECT AVG(amount) FROM payment

## Oblicz i wyświetl liczbę filmów we wszystkich kategoriach.

SELECT
 c.category_id, name, ilosc
FROM 
(SELECT category_id, COUNT (title) as ilosc
FROM
(SELECT 
 a.category_id, b.title 
FROM film_category as a 
inner join film as b ON b.film_id=a.film_id ) as tabela
GROUP BY category_id) as hubi
inner join category as c on hubi.category_id = c.category_id

##  Wyświetl liczbę wszystkich klientów pogrupowanych według kraju.

In [ ]:
SELECT country, COUNT(customer_id)
FROM
	(SELECT customer.first_name, customer.last_name, customer.customer_id, customer.address_id, city.city_id, country.country_id, country.country
	FROM customer,  address, city, country
	WHERE 
	public.customer.address_id=address.address_id 
	AND 
	address.city_id = city.city_id 
	AND 
	city.country_id = country.country_id) as customer_country
GROUP BY 
country

## Wyświetl informacje o sklepie, który ma więcej niż 100 klientów i mniej niż 300 klientów.

In [ ]:
SELECT 
	store_id, COUNT (customer_id)
FROM customer
GROUP BY 
store_id
HAVING 
COUNT(customer_id) between 100 and 300

## Wybierz wszystkich klientów, którzy oglądali filmy ponad 200 godzin.

In [ ]:
SELECT 
comp_film_cust.customer_id, customer.first_name, customer.last_name, sum 
FROM
	(SELECT 
		film_cust.customer_id, SUM(film_cust.length)
	FROM 
		(SELECT 
			film.length, inv_cust.film_id, inv_cust.inventory_id, inv_cust.customer_id
		FROM 
			(SELECT 
				inv.film_id, inv.inventory_id, customer_id
			FROM
				(SELECT inventory_id, rent.customer_id, cust.first_name, cust.last_name
				from 
					public.rental as rent
					INNER JOIN public.customer as cust 
					ON rent.customer_id = cust.customer_id) as rent_cust
				INNER JOIN inventory as inv 
				ON rent_cust.inventory_id = inv.inventory_id) as inv_cust
			INNER JOIN film 
			ON inv_cust.film_id=film.film_id) as film_cust
	GROUP BY film_cust.customer_id
	HAVING  SUM(film_cust.length) > 200) as comp_film_cust
	
RIGHT JOIN customer 
ON customer.customer_id = comp_film_cust.customer_id

## Oblicz średnią wartość wypożyczenia filmu.

In [ ]:
SELECT AVG(amount) FROM payment

## Oblicz średnią wartość długości filmu we wszystkich kategoriach.

In [ ]:
SELECT AVG(length) FROM film 

odp: "115.2720000000000000"

## Znajdź najdłuższe tytuły filmowe we wszystkich kategoriach.

In [ ]:
SELECT title, (length(title)) FROM film
 ORDER BY length DESC

## Znajdź najdłuższy film we wszystkich kategoriach. Porównaj wynik z pkt 10.

In [3]:
 SELECT title, length FROM film
 ORDER BY length DESC

odp = 185

SyntaxError: invalid syntax (<ipython-input-3-1e3a0e32601e>, line 1)