## Znajdź wszystkie nazwy krajów rozpoczynających się na P.

In [ ]:
SELECT country 
FROM public.country
WHERE  country ~ '^P'

## Znajdź wszystkie nazwy krajów rozpoczynających się P i kończących na s.

In [ ]:
SELECT country 
FROM public.country
WHERE  country ~ '^P' AND country ~'s$'

## Znajdź wszystkie tytuły filmów, w których znajdują się cyfry.

In [ ]:
SELECT title 
FROM film
WHERE title ~'[1:9]'

## Znajdź wszystkich pracowników z podwójnym imieniem lub nazwiskiem.

In [ ]:
SELECT first_name, last_name 
FROM customer
WHERE first_name ~~ '% %' OR last_name ~~ '% %' OR last_name ~~ '%-%'

## Znajdź wszystkie nazwiska aktorów rozpoczynających się od P lub C i mających 5 znaków.

In [ ]:
SELECT last_name 
FROM actor
WHERE (last_name ~ '^P' OR  last_name ~ '^C' ) AND length(last_name)=5

## Znajdź wszystkie tytuły filmów, w których występują słowa Trip lub Alone.

In [ ]:
SELECT title 
FROM film
WHERE  title ~* 'Trip' OR title ~* 'Alone'

## Przeanalizuj zapytania:
select first_name from actor where first_name ~ '^ Al [a: z, 1: 9] *' - 
select first_name from actor where first_name ~ * '^ al [a: z, 1: 9] *'

In [ ]:
select first_name from actor where first_name ~ '^ Al [a: z, 1: 9] *' - tylko pierwsza litera musi byc wielka, reszta male

In [ ]:
select first_name from actor where first_name ~ * '^ al [a: z, 1: 9] *' - kazda litera moze byc wielka lub mala