In [ ]:
SELECT country 
FROM public.country
WHERE  country ~ '^P' AND country ~'s$'

## Znajdź wszystkie nazwy krajów rozpoczynających się na P.

## Znajdź wszystkie nazwy krajów rozpoczynających się P i kończących na s.

## Znajdź wszystkie tytuły filmów, w których znajdują się cyfry.

## Znajdź wszystkich pracowników z podwójnym imieniem lub nazwiskiem.

## Znajdź wszystkie nazwiska aktorów rozpoczynających się od P lub C i mających 5 znaków.

## Znajdź wszystkie tytuły filmów, w których występują słowa Trip lub Alone.

## Przeanalizuj zapytania:
select first_name from actor where first_name ~ '^ Al [a: z, 1: 9] *'
select first_name from actor where first_name ~ * '^ al [a: z, 1: 9] *'