SELECT DISTINCT category_id FROM film_category 
odp: 16 kategorii

In [ ]:
2.
SELECT * FROM category ORDER BY name

## Ile kategorii filmów mamy w wypożyczalni?
SELECT DISTINCT category_id FROM film_category 
odp: 16 kategorii

# Wyświetl listę kategorii w kolejności alfabetycznej.
SELECT * FROM category ORDER BY name


# Znajdź najstarszy i najmłodszy film do wypożyczenia.
SELECT * FROM film WHERE film.release_year=2006 ORDER BY film.release_year DESC ; //ASC
odp wszytskie z 2006

# Ile wyporzyczeń odbyło się między 2005-07-01 a 2005-08-01?
SELECT COUNT(*) FROM rental WHERE rental.rental_date  BETWEEN '2005-07-01 00:00:00' AND '2005-08-01 00:00:00';
odp 6709

# Ile wyporzyczeń odbyło się między 2010-01-01 a 2011-02-01?

SELECT COUNT(*) FROM rental WHERE rental.rental_date  BETWEEN '2010-01-01 00:00:00' AND '2011-02-01 00:00:00';
odp: 0

# Znajdź największą płatność wyporzyczenia.
SELECT MAX(amount) FROM payment
odp: 11.99

# Znajdź wszystkich klientów z Polski, Nigerii lub Bangladeszu.

SELECT * FROM customer, address, city, country 
WHERE customer.address_id=address.address_id AND 
address.city_id=city.city_id AND
city.country_id=country.country_id AND 
(country.country='Poland' OR 
country.country='Nigeria' OR
country.country='Bangladesh');

# Gdzie mieszkają członkowie personelu?
SELECT staff_id, first_name, last_name, address, city, country  FROM staff, address, city, country 
WHERE staff.address_id=address.address_id AND 
address.city_id=city.city_id AND
city.country_id=country.country_id;

# Ilu pracowników mieszka w Argentynie lub Hiszpanii?
SELECT COUNT(*)  FROM staff, address, city, country 
WHERE staff.address_id=address.address_id AND 
address.city_id=city.city_id AND
city.country_id=country.country_id AND
(country='Argentine' OR country='Spain');
odp: 0

# Jakie kategorie filmów zostały wypożyczone przez klientów?

In [ ]:
SELECT film_category FROM categories, films, customers, orders WHERE

# Znajdź wszystkie kategorie filmów wypożyczonych w Ameryce.

# Znajdź wszystkie tytuły filmów, w których grał: Olympia Pfeiffer lub Julia Zellweger lub Ellen Presley 13*.

'//
SELECT film_category FROM categories, film, actors WHERE categories.film_id=films.film_id AND films.actor_id=actors.actor_id  AND ((name='Olympia' AND surname = 'Pfeiffer') OR (name='Julia' AND surname = 'Zellweger') OR (name='Ellen' AND surname = 'Presley 13'))

Notes

JOIN tylko ukryty

SELECt * from tab_1, tab2, tabm3. WHERE tab1.id=tab.id and